# =========================
# Node.js
# =========================

node_modules/
**/node_modules/


# =========================
# Environment Variables
# =========================

.env
.env.*
**/.env
**/.env.*


# =========================
# Python
# =========================

venv/
.venv/
**/venv/
**/.venv/

__pycache__/
**/__pycache__/

*.pyc
*.pyo
*.pyd


# =========================
# Frontend Build
# =========================

frontend/dist/


# =========================
# Logs
# =========================

*.log


# =========================
# OS
# =========================

.DS_Store
Thumbs.db